extends navbardepot.pug

block title
   title Buy
block navbarcontent
      .row
        .col-md-6.col-sm-12
          h3.h5 Buy
          form(action='/buy' method='post')
            .row
              .col-lg-8.col-md-12.col-sm-12.pb-2
                input.bg-light.form-control(type='text' name='symbol' placeholder='*Tickersymbol' required='required')

            .row
              .col-lg-8.col-md-12.col-sm-12.pb-2
                input.bg-light.form-control(type='number' name='shares' placeholder='*Count' required='required')

            button.btn.btn-primary(type='submit') Buy
