extends layout2.pug
block navbaritems
    li.nav-item
      a.nav-link(href='/') Home
    li.nav-item
      a.nav-link(href='login') Login
    li.nav-item
      a.nav-link(href='register') Register
