extends layout2.pug
block navbaritems
    li.nav-item
      a.nav-link(href='/') Home
    li.nav-item
      a.nav-link(href='quote') quotes
    li.nav-item
      a.nav-link(href='buy') Buy
    li.nav-item
      a.nav-link(href='sell') Sell
    li.nav-item
      a.nav-link(href='history') History
    li.nav-item
      a.nav-link(href='account') Account
    li.nav-item
      a.nav-link(href='logout') Logout
