extends navbardepot.pug

block title
    title Overview
block navbarcontent
      .row

          if result
            .col-md-12.col-sm-12
                   h2.h5 Eine #{name} (#{symbol}) Aktie kostet $#{result}
          else
            .col-md-6.col-sm-12
                h3.h5 Buy
                form(action='/quote' method='post')
                  .row
                    .col-lg-8.col-md-12.col-sm-12.pb-2
                      input.bg-light.form-control(type='symbol' name='symbol' placeholder='*Tickersymbol' required='required')

                  button.btn.btn-primary(type='submit') Check Price
