extends navbarlogin.pug
block title
     title Register

block content
    form(action="/register" method="post")
        div(class="form-group")
            label(for="inputUsername") Login
            input(type="text", class="form-control", id="inputUsername", placeholder="Nutzername", name="username")
        div(class="form-group")
            label(for="inputPassword") Password
            input(type="password", class="form-control", id="inputPassword" placeholder="Passwort", name="password")
        div(class="form-group")
            label(for="inputConfirmation") Confirmation
            input(type="password", class="form-control", id="inputConfirmation" placeholder="Passwort", name="confirmation")
        div(class="form-group")
            button(type="submit", class="btn btn-primary") Register
