extends navbarlogin.pug
block header
     title Registrieren
block heading
  h2 Registrieren
block content
    form(action="/register" method="post")
        div(class="form-group")
            label(for="inputUsername") Nutzername
            input(type="text", class="form-control", id="inputUsername", placeholder="Nutzername", name="username")
        div(class="form-group")
            label(for="inputPassword") Passwort
            input(type="password", class="form-control", id="inputPassword" placeholder="Passwort", name="password")
        div(class="form-group")
            input(type="password", class="form-control", id="inputConfirmation" placeholder="Passwort wiederholen", name="confirmation")
        div(class="form-group")
            button(type="submit", class="btn btn-primary") Registrieren
