extends navbardepot.pug
block title
   title Sell
block navbarcontent
      .row
        .col-md-6.col-sm-12
          h3.h5 Sell
          form(action='/sell' method='post')
            .row
              .col-lg-8.col-md-12.col-sm-12.pb-2
                select.bg-light.form-control(name='symbol')
                    each tickerItem in tickerItems
                         option #{tickerItem.symbol}

            .row
              .col-lg-8.col-md-12.col-sm-12.pb-2
                input.bg-light.form-control(type='number' name='shares' placeholder='*Count' required='required')

            button.btn.btn-primary(type='submit') Sell
